<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .one {
        margin-bottom: 50px;
        box-sizing: border-box;
        width: 100px;
        height: 100px;
        padding: 20px;
        border: 1px solid;

        position: relative;
      }
      .one::after {
        content: "";
        border-top: 20px solid transparent;
        border-right: 20px solid red;
        border-bottom: 20px solid transparent;
        border-left: 20px solid transparent;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <div class="one">hhahha</div>
    <div class="two">hheheh</div>
  </body>
</html>
